.mini{
    letter-spacing: 4px;
    text-align: right;
 
}
/* .edit{
    background-image:linear-gradient(10deg,crimson,hotpink)
}
.edit-header{
    color: rgb(213, 253, 67);
}

 */
.sabji{
    height:200px;
}


